# MongoDB Configuration
# Replace <YOUR_DB_PASSWORD> with your actual MongoDB Atlas password
MONGODB_URI=mongodb+srv://traffeye:<YOUR_DB_PASSWORD>@traffeye.iruffvt.mongodb.net/?appName=Traffeye
MONGODB_DB_NAME=traffeye

# Server Configuration
PORT=3001
NODE_ENV=development

# Connection Options
MONGODB_OPTIONS=retryWrites=true&w=majority
