# MongoDB Configuration
MONGODB_URI=mongodb+srv://traffeye:<db_password>@traffeye.iruffvt.mongodb.net/?appName=Traffeye
MONGODB_DB_NAME=traffeye

# Server Configuration
PORT=3001
NODE_ENV=development

# Connection Options
MONGODB_OPTIONS=retryWrites=true&w=majority
